
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF; 
  --color-black: #000000;
  --color-red: #FF5555;
}

body {
  font-family: 'Clash Display', sans-serif;
  background: #FFFFFF;
}

h2 {
  font-weight: 700;
  color: var(--color-black);
  font-size: 38px;
  line-height: 1.1;
}
h4 {
  font-weight: 600;
  color: var(--color-white);
  font-size: 20px;
  line-height: 1.1;
  
}
h5 {
  font-weight: 500;
  color: var(--color-red);
  font-size: 18px;
  line-height: 1.1;
  opacity: 95%;
}

p{
  font-weight: 500;
  color: var(--color-black);
  font-size: 15px;
  line-height: 17px;
  opacity: 60%;
}

a{
   color: var(--color-white);
   font-size: 20px;
   line-height: 20px;
   transition: all , .5s;
}

a:hover{
  color: var(--color-red);
 
}


